section{
  height: 750px;
}

.section1 {
    background-color: grey;
}

.section2 {
    background-color: aquamarine;
}

.section3 {
    background-color: burlywood;
}

.section4 {
    background-color: brown;
}

#toTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url(./icon.svg);
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #7E847F;
    border: none;
    border-radius: 50%;
}

@media screen and (min-width: 1408px) {
    #toTop {
        width: 100px;
        height: 100px;
        background-size: 33px;
    }
}